<div class="container mt-5">


    
<div class="row justify-content-center">
    <div class="col-md-8">
        <h1> </h1>
        <div class="text-dark"> Nigeria #1 online virtual store where products or services are sold.</div>
        
        <div class="text-dark"></div>
    </div>
<div class="col-md-4 mt-5">
    <div class="card">
        <div class="card-body">
            <form action="/login" method="post">
                <div class="mb-3">
                    <label for="email-label" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Enter your email" required="true">
                  </div>
                  <div class="mb-3">
                    <label for="password-label" class="form-label">Email address</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="Enter your password" required="true">
                  </div>
            <div class="mb-3">
                <button type="submit" class="btn btn-primary w-100">Login</button>
            </div>
            </form>
            <div class="row text-center mb-3">
                <a href="/forgetpassword" class="col-12 forget" >Forgotten password?</a>
            </div>
            <hr/>
            <div class="row justify-content-center">
                <a href="/register" class="btn btn-warning col-12">Register</a>
            </div>
        </div>
      </div>
    
</div>
</div>




</div>